/SkySB_Measurements/__pycache__
SkySB_Measurements/jdkq01cwq_percentileclip_sky_SCI1.png
SkySB_Measurements/jdkq01cwq_percentileclip_sky_SCI2.png
SkySB_Measurements/jdkq01cyq_percentileclip_sky_SCI1.png
SkySB_Measurements/jdkq01cyq_percentileclip_sky_SCI2.png
SkySB_Measurements/jdkq01d7q_percentileclip_sky_SCI1.png
SkySB_Measurements/jdkq01d7q_percentileclip_sky_SCI2.png
SkySB_Measurements/jdkq01d9q_percentileclip_sky_SCI1.png
SkySB_Measurements/jdkq01d9q_percentileclip_sky_SCI2.png
SkySB_Measurements/jdkq01diq_percentileclip_sky_SCI1.png
SkySB_Measurements/jdkq01diq_percentileclip_sky_SCI2.png
SkySB_Measurements/mastDownload/HST/jdkq01cwq/jdkq01cwq_flc.fits
SkySB_Measurements/mastDownload/HST/jdkq01cyq/jdkq01cyq_flc.fits
SkySB_Measurements/mastDownload/HST/jdkq01d7q/jdkq01d7q_flc.fits
SkySB_Measurements/mastDownload/HST/jdkq01d9q/jdkq01d9q_flc.fits
SkySB_Measurements/mastDownload/HST/jdkq01diq/jdkq01diq_flc.fits
SkySB_Measurements/skysurf_jwstneptdf.csv
/Zodiacal_Light_Model_IDL/.ipynb_checkpoints
Zodiacal_Light_Model_Python/zodi_model/.DS_Store
