HST/SkySB_Measurements/__pycache__/make_diagnostic.cpython-310.pyc
HST/SkySB_Measurements/__pycache__/make_diagnostic.cpython-37.pyc
HST/SkySB_Measurements/__pycache__/measureskyregion.cpython-310.pyc
HST/SkySB_Measurements/__pycache__/measureskyregion.cpython-37.pyc
HST/SkySB_Measurements/__pycache__/measureskyregion_mean.cpython-310.pyc
HST/SkySB_Measurements/__pycache__/measureskyregion_mean.cpython-37.pyc
HST/SkySB_Measurements/__pycache__/skysurf_estimate_sky.cpython-310.pyc
HST/SkySB_Measurements/__pycache__/skysurf_estimate_sky.cpython-37.pyc
HST/SkySB_Measurements/__pycache__/split_image.cpython-310.pyc
HST/SkySB_Measurements/__pycache__/split_image.cpython-37.pyc
HST/SkySB_Measurements/jdkq01cwq_percentileclip_sky_SCI1.png
HST/SkySB_Measurements/jdkq01cwq_percentileclip_sky_SCI2.png
HST/SkySB_Measurements/jdkq01cyq_percentileclip_sky_SCI1.png
HST/SkySB_Measurements/jdkq01cyq_percentileclip_sky_SCI2.png
HST/SkySB_Measurements/jdkq01d7q_percentileclip_sky_SCI1.png
HST/SkySB_Measurements/jdkq01d7q_percentileclip_sky_SCI2.png
HST/SkySB_Measurements/jdkq01d9q_percentileclip_sky_SCI1.png
HST/SkySB_Measurements/jdkq01d9q_percentileclip_sky_SCI2.png
HST/SkySB_Measurements/jdkq01diq_percentileclip_sky_SCI1.png
HST/SkySB_Measurements/jdkq01diq_percentileclip_sky_SCI2.png
HST/SkySB_Measurements/mastDownload/HST/jdkq01cwq/jdkq01cwq_flc.fits
HST/SkySB_Measurements/mastDownload/HST/jdkq01cyq/jdkq01cyq_flc.fits
HST/SkySB_Measurements/mastDownload/HST/jdkq01d7q/jdkq01d7q_flc.fits
HST/SkySB_Measurements/mastDownload/HST/jdkq01d9q/jdkq01d9q_flc.fits
HST/SkySB_Measurements/mastDownload/HST/jdkq01diq/jdkq01diq_flc.fits
HST/SkySB_Measurements/skysurf_jwstneptdf.csv
HST/SkySB_Measurements/skysurf_log.txt
HST/Zodiacal_Light_Model/.ipynb_checkpoints/get_zmod-checkpoint.pro
HST/Zodiacal_Light_Model/.Rhistory
SkySB_Measurements/__pycache__/split_image.cpython-37.pyc
SkySB_Measurements/__pycache__/split_image.cpython-310.pyc
SkySB_Measurements/__pycache__/skysurf_estimate_sky.cpython-37.pyc
SkySB_Measurements/__pycache__/skysurf_estimate_sky.cpython-310.pyc
SkySB_Measurements/__pycache__/measureskyregion_mean.cpython-37.pyc
SkySB_Measurements/__pycache__/measureskyregion_mean.cpython-310.pyc
SkySB_Measurements/__pycache__/measureskyregion.cpython-37.pyc
SkySB_Measurements/__pycache__/measureskyregion.cpython-310.pyc
SkySB_Measurements/__pycache__/make_diagnostic.cpython-37.pyc
SkySB_Measurements/__pycache__/make_diagnostic.cpython-310.pyc
SkySB_Measurements/jdkq01cwq_percentileclip_sky_SCI1.png
SkySB_Measurements/jdkq01cwq_percentileclip_sky_SCI2.png
SkySB_Measurements/jdkq01cyq_percentileclip_sky_SCI1.png
SkySB_Measurements/jdkq01cyq_percentileclip_sky_SCI2.png
SkySB_Measurements/jdkq01d7q_percentileclip_sky_SCI1.png
SkySB_Measurements/jdkq01d7q_percentileclip_sky_SCI2.png
SkySB_Measurements/jdkq01d9q_percentileclip_sky_SCI1.png
SkySB_Measurements/jdkq01d9q_percentileclip_sky_SCI2.png
SkySB_Measurements/jdkq01diq_percentileclip_sky_SCI1.png
SkySB_Measurements/jdkq01diq_percentileclip_sky_SCI2.png
SkySB_Measurements/mastDownload/HST/jdkq01cwq/jdkq01cwq_flc.fits
SkySB_Measurements/mastDownload/HST/jdkq01cyq/jdkq01cyq_flc.fits
SkySB_Measurements/mastDownload/HST/jdkq01d7q/jdkq01d7q_flc.fits
SkySB_Measurements/mastDownload/HST/jdkq01d9q/jdkq01d9q_flc.fits
SkySB_Measurements/mastDownload/HST/jdkq01diq/jdkq01diq_flc.fits
SkySB_Measurements/skysurf_jwstneptdf.csv
HST/.DS_Store
HST/.DS_Store
